/venv/
.idea
bonus

/journal/2023-07-07.txt
/files/doc.txt
/experiments/e1.py
/experiments/e2.py
/experiments/e2_module.py
/experiments/e3.py
/experiments/ex4.py
/experiments/output_from_e3.zip
/files/presentation.txt
/files/report.txt
/experiments/weather.csv
